/* Palette #FFFBF7 #E6DDD3 #BFB2A3 #9D8D7B #7A6854 */
 body {
	background-color: #BFB2A3 !important;
} body div #options {	
	float:left;
} #output {
	display: block;
} body div #actions {
	float:right;
} #mode {
	font-weight: bold;
} #status > h4 {
	display: inline-block;
	margin-right: 10px;
} h1 {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
} .btn-options, .btn-actions {
	background-color: #BFB2A3;
} .btn.btn-options:hover {
    background-color: #9D8D7B;
    color: #FFFBF7;
} .btn.btn-options.btn-options-active {
    color: #7A6854 !important;
    background-color: #E6DDD3;
} .btn.btn-actions {
	color: #000000;
} .btn.btn-actions:hover {
    color: #FFFBF7;
	background-color: #7A6854;
} .btn.btn-actions:focus {
	outline: none !important;
} .form-control {
	background-color: #FFFBF7 !important;
	border-color: #7A6854 !important;
} ::-webkit-input-placeholder {
	color: #7A6854 !important;
} .container {
	background-color: #BFB2A3 !important;
	overflow: hidden;
} h8 {
	float: right;
	margin-right: 10px;
} .actions a {
    font-size: 22px;        
    text-decoration: none;
    margin: 0 10px;
} #header {
	margin-left: 10px;
}
